@model Influencers.BusinessLogic.VIewModels.ArticleViewModel

<span class="article-rating" id="article-rating-@Model.Id" style="display: flex;">
    <span id="article-rating-@Model.Id-1" style="font-weight: 900 !important;" class="fa fa-star"></span>
    <span id="article-rating-@Model.Id-2" class="fa fa-star"></span>
    <span id="article-rating-@Model.Id-3" class="fa fa-star"></span>
    <span id="article-rating-@Model.Id-4" class="fa fa-star"></span>
    <span id="article-rating-@Model.Id-5 "class="fa fa-star"></span>
</span>