<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Influencers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Article" asp-action="Index">Influencers</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a id="article-nav-item" class="nav-link" asp-area="" asp-controller="Article" asp-action="Index">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a id="publish-nav-item" class="nav-link" asp-area="" asp-controller="Article" asp-action="Create">Publish</a>
                        </li>
                        <li class="nav-item">
                            <a id="ranking-nav-item" class="nav-link" asp-area="" asp-controller="Author" asp-action="Index">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a id="trending-nav-item" class="nav-link" asp-area="" asp-controller="Article" asp-action="Trending">Trending</a>
                        </li>
                        <li id="searchForTag" class="nav-item ml-auto">
                            <form class="form-inline" asp-controller="Article" asp-action="FilterByTagName">
                                <input list="tags-nav-bar" class="form-control" name="searchTag" type="search" placeholder="Search tag..." aria-label="Search">
                                <button class="btn btn-search" type="submit">Search</button>
                            </form>
                        </li>
                        <li id="searchForAuthor" class="nav-item ml-auto">
                            <form class="form-inline" asp-controller="Author" asp-action="FilterByName">
                                <input list="authors-nav-bar" name="searchAuthor" class="form-control" type="search" placeholder="Search author..." aria-label="Search">
                                <button class="btn btn-search" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <datalist id="tags-nav-bar"></datalist>
        <datalist id="authors-nav-bar"></datalist>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        if (window.location.pathname.includes("/Author")) {
            document.getElementById("ranking-nav-item").style.color = "#E69A8DFF";
            document.getElementById("searchForAuthor").style.display = "block";
            document.getElementById("searchForTag").style.display = "none";
        }
        else {
            document.getElementById("searchForAuthor").style.display = "none";
            document.getElementById("searchForTag").style.display = "block";
        }
        if (window.location.pathname.includes("/Article")) {
            if (window.location.pathname == "/Article/Create") {
                document.getElementById("publish-nav-item").style.color = "#E69A8DFF";
            }
            if (window.location.pathname == "/Article/Trending") {
                document.getElementById("trending-nav-item").style.color = "#E69A8DFF";
            }
            if (window.location.pathname != "/Article/Trending" && window.location.pathname != "/Article/Create") {
                document.getElementById("article-nav-item").style.color = "#E69A8DFF";
            }
        }

        document.addEventListener("DOMContentLoaded", function() { 
            getAllTagsForDatalist();
            getAllAuthorsForDatalist();
        });

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

